docker-compose
kombu
openapi-spec-validator
pyhamcrest
pytest
requests
sqlalchemy
stevedore
https://github.com/wazo-pbx/wazo-setupd-client/archive/buster.zip
https://github.com/wazo-pbx/xivo-test-helpers/archive/buster.zip
https://github.com/wazo-pbx/xivo-lib-rest-client/archive/buster.zip
