docker-compose
kombu
openapi-spec-validator
pyhamcrest
pytest
requests
sqlalchemy
stevedore
https://github.com/wazo-platform/wazo-auth-client/archive/master.zip
https://github.com/wazo-platform/wazo-lib-rest-client/archive/master.zip
https://github.com/wazo-platform/wazo-setupd-client/archive/master.zip
https://github.com/wazo-platform/xivo-lib-python/archive/master.zip
https://github.com/wazo-platform/wazo-test-helpers/archive/master.zip
