[Unit]
Description=wazo-setupd daemon
After=network.target

[Service]
Environment=PYTHONUNBUFFERED=TRUE
ExecStart=/usr/bin/wazo-setupd
SyslogIdentifier=wazo-setupd

[Install]
WantedBy=multi-user.target
