[Unit]
Description=wazo-setupd daemon
After=network.target
Before=monit.service

[Service]
ExecStartPre=/usr/bin/install -o wazo-setupd -g wazo-setupd -d /var/run/wazo-setupd
ExecStart=/usr/bin/python3 -u /usr/bin/wazo-setupd

[Install]
WantedBy=multi-user.target
